@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --txt-clr:#fffbefd0;
    --txt-clr-highlight:#ffffffc2;
    --bg-clr:#111013;
}

body{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Inter';
    background: var(--bg-clr);
}

.container{
    padding:50px 0 50px 50px;
    max-width:950px;
    width:90%;
}

h1{
    font-weight:400;
    font-size:45px;
    color:var(--txt-clr);
    letter-spacing: -0.09rem;
}

.links a{
    padding:5px 0px;
    margin:20px 50px 0px 0;
}

.quicklink {
    color: inherit;
    text-decoration: none;
    position: relative;
    padding: 0.2em 0;
    display: inline-block;
    color:var(--txt-clr-highlight);
}

.quicklink::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.1em;
    background-color: var(--txt-clr-highlight);
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: opacity 300ms, transform 300ms, width 300ms;
}

.quicklink:hover::after,
.quicklink:focus::after {

    transform: translate3d(0, 0, 0);
    width:100%;
  }

.quicklink:hover{
    cursor: pointer;
}

.textlink {
    color:var(--txt-clr);
    text-decoration: none;
    border-bottom: 3px solid var(--txt-clr);
}

.greenlight{
    width:20px;
    height:20px;
    background:rgb(0, 195, 0);
    border-radius: 200px;
    display: inline-block;
    margin:0 20px 5px 0;
    box-shadow: 1px 0px 39px 0px rgba(117,255,116,0.75);
-webkit-box-shadow: 1px 0px 39px 0px rgba(117,255,116,0.75);
-moz-box-shadow: 1px 0px 39px 0px rgba(117,255,116,0.75);
}

.redlight{
    width:20px;
    height:20px;
    background:rgb(195, 0, 0);
    border-radius: 200px;
    display: inline-block;
    margin:0 20px 5px 0;
    box-shadow: 1px 0px 39px 0px rgba(255, 116, 116, 0.75);
-webkit-box-shadow: 1px 0px 39px 0px rgba(255, 116, 116, 0.75);
-moz-box-shadow: 1px 0px 39px 0px rgba(255, 116, 116, 0.75);
}

.disabledlink{
    opacity:0.3;
    padding: 0.2em 0;
    display: inline-block;
}

@media only screen and (max-width: 800px) {
    h1{
        font-size:35px;
    }
    .container{
        padding:50px 0 50px 10px;
        max-width:800px;
        width:90%;
    }
}